*.pyc
*.pyc.*
*.pickle
*.pdf
POSCAR
CONTCAR

docs/_*

.idea/
.ipynb_checkpoints/
tutorials/12_structure_relaxation/F_GPAW_min/__init__.py
tutorials/12_structure_relaxation/__init__.py
tutorials/__init__.py
tutorials/12_structure_relaxation/C_Heptamer_Island/results_ASE_opt
tutorials/12_structure_relaxation/D_N2_Cu111/results_ASE_opt
