[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ase = "==3.16.0"
"h5py" = "==2.7.1"
networkx = "==2.1.0"
numpy = "==1.14.2"
pandas = "==0.22.0"
pytest-cov = "==2.5.1"
scikit-learn = "==0.19.1"
scipy = "==1.0.1"
tqdm = "==4.23.1"

[dev-packages]
pytest-cov = "*"
piprot = "*"

[requires]
python_version = "3.6"
