ase==3.16.0
attrs==17.4.0
click==6.7
coverage==4.5.1
cycler==0.10.0
decorator==4.3.0
flask==0.12.2
h5py==2.7.1
itsdangerous==0.24
jinja2==2.10
kiwisolver==1.0.1
markupsafe==1.0
matplotlib==2.2.2
more-itertools==4.1.0
networkx==2.1.0
numpy==1.14.2
pandas==0.22.0
pluggy==0.6.0
py==1.5.3
pyparsing==2.2.0
pytest-cov==2.5.1
pytest==3.5.1
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
tqdm==4.23.1
werkzeug==0.14.1
